@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");

@font-face {
  font-family: amazonheavy;
  src: url(../../../public/Ember/AmazonEmber_He.ttf);
}

@font-face {
  font-family: amazonbold;
  src: url(../../public/Ember/AmazonEmber_Bd.ttf);
}

#modal-modal-title {
  text-align: center;
  font-size: 36px;
  margin-bottom: 30px;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-style: normal;
}
