@font-face {
  font-family: amazonheavy;
  src: url(../../../public/Ember/AmazonEmber_He.ttf);
}
@font-face {
  font-family: amazonbold;
  src: url(../../../public/Ember/AmazonEmber_Bd.ttf);
}

.mainpadding {
  margin-top: 80px;
  margin-bottom: 100px;
}

.mainOuter {
  background-color: #e9e6e6;
  padding: 40px;
  border-radius: 10px;
  margin-bottom: 20px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.contactdetailHeading {
  font-size: 24px;
  font-family: amazonheavy;
  color: #000;
  text-align: left;
}

.Enquiry {
  font-size: 24px;
  font-family: amazonheavy;
  color: #000;
  text-align: left;
}

.Location {
  width: 40px;
  height: 40px;
}

.location1 {
  padding: 40px;
}

.locationheading {
  padding: 20px;
}

.rowlocaton {
  padding: 10px;
  background: #fff;
  border-radius: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.chennai {
  font-size: 16px;
  font-family: amazonbold;
  color: #7b7979;
  padding-left: 20px;
}

input[type="text"],
select {
  width: 92%;
  padding: 12px 20px;
  margin: 10px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-family: amazonbold;
  font-size: 16px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
input[type="mail"],
select {
  width: 92%;
  padding: 12px 20px;
  margin: 10px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-family: amazonbold;
  font-size: 16px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
input[type="tel"],
select {
  width: 92%;
  padding: 12px 20px;
  margin: 10px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-family: amazonbold;
  font-size: 16px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

textarea {
  width: 92%;
  padding: 12px 20px;
  margin: 10px 0 !important;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-family: amazonbold;
  font-size: 16px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

input[type="submit"] {
  width: 92%;
  background-color: #dc3237;
  color: white;
  padding: 14px 20px;
  margin: 10px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: amazonbold;
  font-size: 16px;
}

input[type="submit"]:hover {
  background-color: #dc3237;
}

.enquiryform {
  margin-top: 30px;
}

/* div {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
} */

/* mobile */

@media only screen and (min-width: 320px) and (max-width: 600px) {
  .mainpadding {
    margin-top: 40px;
    margin-bottom: 50px;
  }
  .locationheading {
    padding: 20px;
  }
  .contactdetailHeading {
    font-size: 22px;
  }
  .location1 {
    padding: 20px;
  }
  .chennai {
    font-size: 14px;
    padding-left: 10px;
  }
  .Location {
    width: 20px;
    height: 20px;
  }
  .sociallink {
    width: 30px;
    height: 30px;
  }
  .enquiryform {
    margin-top: 20px;
  }
  input[type="submit"] {
    width: 80%;
  }
  textarea {
    width: 80%;
  }
  input[type="tel"],
  select {
    width: 80%;
  }
  input[type="mail"],
  select {
    width: 80%;
  }
  input[type="text"],
  select {
    width: 80%;
  }
}

/* tablet */

@media only screen and (min-device-width: 768px) and (max-device-width: 1023px) {
  .mainpadding {
    margin-top: 40px;
    margin-bottom: 50px;
  }
  .locationheading {
    padding: 20px;
  }
  .contactdetailHeading {
    font-size: 22px;
  }
  .location1 {
    padding: 20px;
  }
  .chennai {
    font-size: 16px;
    padding-left: 10px;
  }
  .Location {
    width: 20px;
    height: 20px;
  }
  .sociallink {
    width: 30px;
    height: 30px;
  }
  .enquiryform {
    margin: auto;
  }
  input[type="submit"] {
    width: 80%;
  }
  textarea {
    width: 80%;
  }
  input[type="tel"],
  select {
    width: 80%;
  }
  input[type="mail"],
  select {
    width: 80%;
  }
  input[type="text"],
  select {
    width: 80%;
  }
}

/* laptops */
@media only screen and (min-device-width: 1024px) and (max-device-width: 1535px) {
  .mainpadding {
    margin-top: 40px;
    margin-bottom: 50px;
  }
  .locationheading {
    padding: 20px;
  }
  .contactdetailHeading {
    font-size: 22px;
  }
  .location1 {
    padding: 20px;
  }
  .chennai {
    font-size: 16px;
    padding-left: 10px;
  }
  .Location {
    width: 20px;
    height: 20px;
  }
  .sociallink {
    width: 30px;
    height: 30px;
  }
  .enquiryform {
    margin: auto;
  }
  input[type="submit"] {
    width: 80%;
  }
  textarea {
    width: 80%;
  }
  input[type="tel"],
  select {
    width: 80%;
  }
  input[type="mail"],
  select {
    width: 80%;
  }
  input[type="text"],
  select {
    width: 80%;
  }
}
/* larger screen */
@media only screen and (min-device-width: 1536px) and (max-device-width: 2560px) {
  .mainpadding {
    margin-top: 40px;
    margin-bottom: 50px;
  }
  .locationheading {
    padding: 20px;
  }
  .contactdetailHeading {
    font-size: 22px;
  }
  .location1 {
    padding: 20px;
  }
  .chennai {
    font-size: 16px;
    padding-left: 10px;
  }
  .Location {
    width: 20px;
    height: 20px;
  }
  .sociallink {
    width: 30px;
    height: 30px;
  }
  .enquiryform {
    margin: auto;
  }
  input[type="submit"] {
    width: 80%;
  }
  textarea {
    width: 80%;
  }
  input[type="tel"],
  select {
    width: 80%;
  }
  input[type="mail"],
  select {
    width: 80%;
  }
  input[type="text"],
  select {
    width: 80%;
  }
}
