@font-face {
  font-family: amazonheavy;
  src: url(../../../public/Ember/AmazonEmber_He.ttf);
}
@font-face {
  font-family: amazonbold;
  src: url(../../../public/Ember/AmazonEmber_Bd.ttf);
}

.bg-image {
  border-radius: 5px;
  width: 250px; /* Adjust this value as needed */
  height: 250px; /* Adjust this value as needed */
}

.category {
  width: 100%;
  height: 100%;
}

.productname {
  position: absolute;
  bottom: 10px;
  background-color: #dc3237;
  border-radius: 5px;
  color: #fff;
  font-size: 20px;
  font-family: amazonbold;
  padding: 0 20px;
}

/* mobile */

@media only screen and (min-width: 320px) and (max-width: 600px) {
}

/* tablet */

@media only screen and (min-device-width: 768px) and (max-device-width: 979px) {
}
