.mainshopbycatergory {
  margin-top: 100px;
  margin-bottom: 40px;
}

.shopCategoryhead {
  font-size: 36px;
  font-family: amazonheavy;
  color: #000;
}
.shopCategorydesc {
  font-size: 18px;

  color: #aaa;
}

.viewmore {
  background-color: #dc3237;
  color: #fff;
  font-size: 20px;
  font-family: amazonbold;
  font-weight: 600;
  padding: 8px;
  border-radius: 5px;
}
.viewmore:hover {
  border: 2px solid #dc3237;
  color: #dc3237;
  background: transparent;
}

/* mobile */

@media only screen and (min-width: 320px) and (max-width: 600px) {
}

/* tablet */

@media only screen and (min-device-width: 768px) and (max-device-width: 979px) {
}
