.mainshopbycatergory{
  margin-top: 100px;
  margin-bottom: 40px;
}

.shopCategoryhead {
  font-size: 36px;
  font-family: amazonheavy;
  color: #000;
}
.shopCategorydesc {
  font-size: 18px;

  color: #AAA;
}
