@font-face {
  font-family: amazonheavy;
  src: url(../../../public/Ember/AmazonEmber_He.ttf);
}
@font-face {
  font-family: amazonbold;
  src: url(../../../public/Ember/AmazonEmber_Bd.ttf);
}

.workdetail {
  padding: 40px 0;
}

.iconwork {
  width: 50px;
  height: 50px;
  margin: auto;
  margin-bottom: 10px;
}

.mainworkdetail {
  /* margin-top: 80px; */
  /* margin-bottom: 80px; */
}

.titlework {
  font-size: 16px;
  color: #000;
  font-weight: 600;
  text-align: center;
  font-family: amazonbold;
}

@media only screen and (min-width: 320px) and (max-width: 600px) {
  .mainworkdetail {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .iconwork {
    width: 50px;
    height: 50px;
  }
  .titlework {
    font-size: 14px;
  }
}

/* tablet */

@media only screen and (min-device-width: 768px) and (max-device-width: 1023px) {
  .iconwork {
    width: 60px;
    height: 60px;
  }
  .titlework{
    font-size: 18px;
  }
}
/* laptops */
@media only screen and (min-device-width: 1024px) and (max-device-width: 1535px) {
  .iconwork {
    width: 70px;
    height: 70px;
  }
  .titlework{
    font-size: 20px;
  }
}

/* large screen */
@media only screen and (min-device-width: 1536px) and (max-device-width: 2560px) {
  .iconwork {
    width: 80px;
    height: 80px;
  }
  .titlework{
    font-size: 22px;
  }
}
