.comingsoonwebsite {
  width: 100%;
  height: 100%;
}

.comingsoonmobile {
  width: 100%;
  height: 100%;
  display: none;
}

@media only screen and (min-width: 320px) and (max-width: 600px) {
  .comingsoonwebsite {
    width: 100%;
    height: 100%;
    display: none;
  }
  .comingsoonmobile {
    width: 100%;
    height: 100%;
    display: block;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1023px) {
  .comingsoonmobile {
    width: 100%;
    height: 100%;
    display: none;
  }
  .comingsoonwebsite {
    width: 100%;
    height: 100vh;
    display: block;
  }
}
