@font-face {
  font-family: amazonheavy;
  src: url(../../../public/Ember/AmazonEmber_He.ttf);
}
@font-face {
  font-family: amazonbold;
  src: url(../../../public/Ember/AmazonEmber_Bd.ttf);
}

.yourcartheading {
  font-family: amazonheavy;
  font-size: 30px ;
  color: #000 ;
}
