@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");

.policy-container {
  margin: 0 auto;
  padding: 20px;
}

.headingrefund {
  text-align: left;
  font-size: 40px;
  color: #dc3237;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.justdesc {
  text-align: left;
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  color: #000;
}

.ulrefund {
  text-align: justify;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #000;
  list-style-type: decimal;
}
.ulrefund li {
  margin-bottom: 20px;
}

.policy-content {
  margin-top: 20px;
}

.policy-content ul {
  padding-left: 20px;
}

@media only screen and (min-width: 320px) and (max-width: 600px) {
  .policy-container {
    padding: 10px;
  }
  .headingrefund {
    font-size: 24px;
  }
  .justdesc {
    font-size: 16px;
  }
  .ulrefund {
    font-size: 14px;
    text-align: left;
  }
  .ulrefund li {
    margin-bottom: 10px;
  }
}
