@font-face {
  font-family: amazonheavy;
  src: url(../../public/Ember/AmazonEmber_He.ttf);
}

.caption {
  position: absolute;
  top: 15% !important;
  left: 15% !important;
  display: flex !important;
}

.slidercaption {
  font-size: 34px;
  font-family: amazonheavy;
  color: #fff;
  /* padding: 0px 390px; */
  text-align: left;
  line-height: 50px;
}

.sliderbtn {
  display: flex !important;
  justify-content: flex-start !important;
  align-items: center !important;
  margin-top: 15px;
  background-color: #d9d9d9 !important;
  font-size: 16px !important;
  font-family: amazonheavy !important;
  color: #000 !important;
}

.d-block {
  width: 100%;
  height: 60vh;
}

/* mobile */

@media only screen and (min-width: 320px) and (max-width: 600px) {
  /* Your mobile styles go here */
  .caption {
    display: block !important;
  }
}

/* tablet */

@media only screen and (min-device-width: 768px) and (max-device-width: 979px) {
}
