@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");

@font-face {
  font-family: amazonheavy;
  src: url(../../../public/Ember/AmazonEmber_He.ttf);
}
@font-face {
  font-family: amazonbold;
  src: url(../../../public/Ember/AmazonEmber_Bd.ttf);
}
@font-face {
  font-family: amazonlight;
  src: url(../../../public/Ember/AmazonEmber_Lt.ttf);
}

.productdetailsHeading {
  font-size: 40px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  color: #000;
  font-weight: 600 !important;
}

.redheart {
  width: 40px;
  height: 40px;
  margin-right: 20px;
  cursor: pointer;
}
.yellowshare {
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mainSubtitle {
  margin-top: 10px;
  text-align: left;
}

.Subtitle {
  font-size: 20px;
  color: #7b7979;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
}

.descripation {
  text-align: left;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #aaa;
  /* margin-top: 30px; */
  margin: 0;
}

.maincolors {
  margin-top: 10px;
  text-align: left;
}

.colors {
  font-size: 20px;
  color: #7b7979;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
}

.colorsCircle {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 30px;
}

.price1 {
  font-size: 30px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  color: #7b7979;
  margin-right: 10px;
}
.price2 {
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  color: #aaaa;
  text-decoration: line-through;
}

.rupee1 {
  font-size: 30px;
}
.rupee2 {
  font-size: 20px;
}

.overallbtn {
  margin-top: 30px;
}

@media only screen and (min-width: 320px) and (max-width: 600px) {
  .overallbtn {
    display: none !important;
    /* position: fixed; */
    /* bottom: 0;
    background: #fff;
    width: 100%;
    z-index: 10000;
    padding: 20px;
    left: 0;
    right: 0;
    border-radius: 15px 15px 0px 0px;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
      rgba(14, 30, 37, 0.32) 0px 2px 16px 0px; */
  }
  .overallbtnmobile {
    display: block;
  }
  .colorcircle {
    width: 25px !important;
    height: 25px !important;
  }
  .productdetailsHeading {
    font-size: 20px;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 700;
  }
  .redheart {
    width: 30px;
    height: 30px;
  }
  .yellowshare {
    width: 25px;
    height: 25px;
  }
  .Subtitle {
    font-size: 14px;
  }
  .descripation {
    font-size: 14px;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .colors {
    font-size: 16px;
  }
  .color1 {
    width: 25px;
    height: 25px;
  }
  .color2 {
    width: 25px;
    height: 25px;
  }
  .color3 {
    width: 25px;
    height: 25px;
  }
  .color4 {
    width: 25px;
    height: 25px;
  }
  .color5 {
    width: 25px;
    height: 25px;
  }
  .price {
    margin-top: 10px;
  }
  .price1 {
    font-size: 16px;
  }
  .rupee1 {
    font-size: 22px;
  }
  .price2 {
    font-size: 14px;
  }
  .rupee2 {
    font-size: 16px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .productdetailsHeading {
    font-size: 24px;
  }
  .Subtitle {
    font-size: 16px;
  }
  .descripation {
    font-size: 14px;
  }
  .colors {
    font-size: 16px;
  }
  .color1 {
    width: 25px;
    height: 25px;
  }
  .color2 {
    width: 25px;
    height: 25px;
  }
  .color3 {
    width: 25px;
    height: 25px;
  }
  .color4 {
    width: 25px;
    height: 25px;
  }
  .color5 {
    width: 25px;
    height: 25px;
  }
  .price1 {
    font-size: 26px;
  }
  .price2 {
    font-size: 16px;
  }
  .overallbtn {
    margin-top: 30px;
  }
  .overallbtnmobile {
    display: none !important;
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1535px) {
  .overallbtn {
    margin-top: 30px;
  }
  .overallbtnmobile {
    display: none !important;
  }
}
@media only screen and (min-width: 1536px) and (max-width: 2560px) {
  .overallbtn {
    margin-top: 30px;
  }
  .overallbtnmobile {
    display: none !important;
  }
}
