@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");

@font-face {
  font-family: amazonheavy;
  src: url(../../../public/Ember/AmazonEmber_He.ttf);
}
@font-face {
  font-family: amazonbold;
  src: url(../../../public/Ember/AmazonEmber_Bd.ttf);
}
@font-face {
  font-family: amazonlight;
  src: url(../../../public/Ember/AmazonEmber_Lt.ttf);
}

.productInfo {
  font-weight: bolder;
  color: #000;
  /* line-height: 4px; */
}

/* .titlebook {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  height: 100%;
  width: 100%;
} */

.productInfo {
  padding: 20px 40px;
}

.bookdetailoverall {
  margin-top: 10%;
  margin-bottom: 10%;
}
.detailsbook {
  display: grid;
  grid-template-columns: 25% 70%;
  padding: 10px;
  border: none;
  outline: none;
}
.gridItem {
  height: inherit;
  /* background-color: #4d4d4d; */
  list-style-type: none;
  padding-top: 7px;
  color: #aaaaaa;
  font-size: 14px;
  text-align: left;
  border: none;
  outline: none;
  font-family: "Poppins", sans-serif;
  font-style: normal;
}
.gridItemWhite {
  list-style-type: none;
  padding-left: 0;
  height: inherit;
  text-transform: capitalize;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  padding-top: 7px;
  color: #000;
  font-weight: bolder;
  border: none;
  outline: none;
  font-size: 14px;
  text-align: left;
}

/* big screen */

/* @media only screen and (min-width: 1536px) and (max-width: 2560px) {
  .detailsbook {
    grid-template-columns: 10% 70%;
  }
} */
/* tablet */
/* @media only screen and (min-width: 768px) and (max-width: 1023px) {
 

  .detailsbook {
    grid-template-columns: 20% 70% !important;
  }
} */

/* Mobile */
@media only screen and (max-width: 767px) {
  .gridItem {
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 600;
  }
  .gridItemWhite {
    padding: 5px;
    font-size: 14px;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 500;
  }
  .productInfo {
    padding: 20px;
  }
  .detailsbook {
    grid-template-columns: 30% 70%;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .gridItem {
    font-size: 16px;
    font-family: amazonbold;
  }
  .gridItemWhite {
    padding: 5px;
    font-size: 14px;
    font-family: amazonlight;
  }
  .productInfo {
    padding: 25px;
  }
  .detailsbook {
    grid-template-columns: 30% 70%;
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1535px) {
  .gridItem {
    font-size: 18px;
    font-family: amazonbold;
  }
  .gridItemWhite {
    padding: 5px;
    font-size: 16px;

    font-family: amazonlight;
  }
  .productInfo {
    padding: 35px;
  }
  .detailsbook {
    grid-template-columns: 30% 70%;
  }
}
@media only screen and (min-width: 1536px) and (max-width: 2560px) {
  .gridItem {
    font-size: 20px;
    font-family: amazonbold;
  }
  .gridItemWhite {
    padding: 5px;
    font-size: 18px;

    font-family: amazonlight;
  }
  .productInfo {
    padding: 35px;
  }
  .detailsbook {
    grid-template-columns: 30% 70%;
  }
}
