body {
  margin: 0;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.css-frb6yl-MuiButtonBase-root-MuiPaginationItem-root.Mui-selected {
  background-color: #aaa;
  color: #dc3237;
}
.css-1h9z7r5-MuiButtonBase-root-MuiTab-root.Mui-selected {
  /* background: #dc3237; */
  color: #dc3237 !important;
}

.table>:not(caption)>*>* {
  padding-left:0 !important;
}