@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");

.App {
  text-align: center;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

body {
  margin: 0;
  background: #fdf8f0 !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.css-frb6yl-MuiButtonBase-root-MuiPaginationItem-root.Mui-selected {
  background-color: #aaa;
  color: #dc3237;
}
.css-1h9z7r5-MuiButtonBase-root-MuiTab-root.Mui-selected {
  /* background: #dc3237; */
  color: #dc3237 !important;
}

.table > :not(caption) > * > * {
  /* padding-left: 0 !important;
  padding-right: 0 !important; */
  padding: 0 !important;
}

.css-1m6gwg1-MuiButtonBase-root-MuiButton-root {
  margin-bottom: 0 !important;
}
