@font-face {
  font-family: amazonheavy;
  src: url(../../../public/Ember/AmazonEmber_He.ttf);
}
@font-face {
  font-family: amazonbold;
  src: url(../../../public/Ember/AmazonEmber_Bd.ttf);
}

@media only screen and (min-device-width: 320px) and (max-device-width: 600px) {
  .searchproducthead {
    text-align: left;
    font-family: amazonbold;
    font-size: 22px;
    color: #000;
  }

  .productheading {
    text-align: left;
    font-family: amazonbold;
    font-size: 22px;
    color: #000;
  }

  .filter {
    margin-top: 30px;
  }

  .filterheading {
    text-align: left;
    font-family: amazonbold;
    font-size: 22px;
    color: #000;
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 998px) {
  .searchproducthead {
    text-align: left;
    font-family: amazonbold;
    font-size: 16px;
    color: #000;
  }

  .productheading {
    text-align: left;
    font-family: amazonbold;
    font-size: 16px;
    color: #000;
  }

  .filter {
    margin-top: 30px;
  }

  .filterheading {
    text-align: left;
    font-family: amazonbold;
    font-size: 16px;
    color: #000;
  }
}

@media only screen and (min-device-width: 1024px) and (max-device-width: 1535px) {
  .searchproducthead {
    text-align: left;
    font-family: amazonbold;
    font-size: 22px;
    color: #000;
  }

  .productheading {
    text-align: left;
    font-family: amazonbold;
    font-size: 22px;
    color: #000;
  }

  .filter {
    margin-top: 30px;
  }

  .filterheading {
    text-align: left;
    font-family: amazonbold;
    font-size: 22px;
    color: #000;
  }
}
