@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");

@font-face {
  font-family: amazonheavy;
  src: url(../../../public/Ember/AmazonEmber_He.ttf);
}
@font-face {
  font-family: amazonbold;
  src: url(../../../public/Ember/AmazonEmber_Bd.ttf);
}

.search-container {
  float: right;
}
.search-container input[type="text"] {
  width: 200px;
  height: 40px;
  padding: 10px;
  border: 1px solid #ccc;
  transition: 0.5s all;
}
.search-container input[type="text"]:focus {
  width: 300px;
}
.search-container button {
  height: 40px;
  width: 40px;
  margin-left: -5px;
  background: #141617;
  border: 0;
  color: #fff;
  font-size: 17px;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 600px) {
  .searchproducthead {
    text-align: left;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 22px;
    color: #000;
  }

  .productheading {
    text-align: left;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 22px;
    color: #000;
  }
  .searchandfilter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row !important;
  }

  .filter {
    margin-top: 30px;
  }

  .filterheading {
    text-align: left;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 22px;
    color: #000;
  }
  .titleghead {
    display: flex;
    justify-content: space-between;
    align-items: start;
    flex-direction: row;
  }
  .titledesc {
    text-align: left;
    font-size: 14px;
    color: #ccc;
  }
  .filtersidenav {
    display: none;
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 998px) {
  .searchproducthead {
    text-align: left;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 16px;
    color: #000;
  }

  .productheading {
    text-align: left;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 16px;
    color: #000;
  }
  .titleghead {
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
  }

  .overallheading {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .searchandfilter {
    display: flex;
    justify-content: end;
    align-items: end;
    flex-direction: row !important;
  }

  .filter {
    margin-top: 30px;
  }

  .filterheading {
    text-align: left;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 16px;
    color: #000;
  }
  .filtersidenav {
    display: none;
  }
}

@media only screen and (min-device-width: 1024px) and (max-device-width: 1535px) {
  .searchproducthead {
    text-align: left;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 22px;
    color: #000;
  }

  .productheading {
    text-align: left;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 22px;
    color: #000;
  }
  .titleghead {
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
  }
  .searchandfilter {
    display: flex;
    justify-content: end;
    align-items: end;
    flex-direction: row;
  }

  .filter {
    margin-top: 30px;
  }

  .filterheading {
    text-align: left;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 22px;
    color: #000;
  }
  .filtersidenav {
    display: block;
  }
}
@media only screen and (min-device-width: 1536px) and (max-device-width: 2560px) {
  .searchproducthead {
    text-align: left;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 22px;
    color: #000;
  }
  .titleghead {
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
  }

  .productheading {
    text-align: left;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 22px;
    color: #000;
  }

  .filter {
    margin-top: 30px;
  }

  .filterheading {
    text-align: left;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 22px;
    color: #000;
  }
  .filtersidenav {
    display: block;
  }
}
