@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");

@font-face {
  font-family: amazonheavy;
  src: url(../../../public/Ember/AmazonEmber_He.ttf);
}
@font-face {
  font-family: amazonbold;
  src: url(../../../public/Ember/AmazonEmber_Bd.ttf);
}

/* .price {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
} */

.under {
  margin-right: 10px;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  color: #000;
}

.currency {
  margin-left: 10px;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  color: #000;
}

#outlined-adornment-weight {
  padding: 10px 5px;
}
