#search-wrapper {
  display: flex;

  border: 1px solid #d8d9d9;
  align-items: center;
  border-radius: 50px;
  background-color: #d8d9d9;
  overflow: hidden;
  padding: 0 8px;
  max-width: 300px;
  margin-top: 20px;
  /* box-shadow: 2px 1px 5px 1px rgba(0, 0, 0, 0.273); */
}
#search {
  padding: 10px;
  border: none;
  width: 255px;
  font-size: 15px;
  box-shadow: none;
  margin: 0;
  background: #d9d9d9;
}
#search:focus {
  outline: none;
}
.search-icon {
  margin: 10px;
  color: rgba(0, 0, 0, 0.564);
}
#search-button {
  border: none;
  cursor: pointer;
  color: #fff;
  background-color: #1dbf73;
  padding: 0px 10px;
}
