@font-face {
  font-family: amazonbold;
  src: url(../../../public/Ember/AmazonEmber_Bd.ttf);
}
@font-face {
  font-family: amazonlight;
  src: url(../../../public/Ember/AmazonEmber_Lt.ttf);
}

@font-face {
  font-family: amazonheavy;
  src: url(../../../public/Ember/AmazonEmber_He.ttf);
}

.jslogo {
  width: 100px;
  height: 100px;
  margin: auto;
}

.companylogo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.companydesc {
  font-size: 14px;
  font-family: amazonbold;
  color: #fff;
  text-align: center;
}

.producthead {
  font-size: 18px;
  font-family: amazonheavy;
  color: #fff;
}

.linkcontent {
  font-size: 16px;
  font-family: amazonlight;
  color: #fff;
}

.copy {
  font-size: 18px;
  font-family: amazonbold;
  color: #fff;
}

.justshopper {
  font-size: 16px;
  font-family: amazonbold;
  color: #aaaaaa;
}

.socialicon {
  color: #dc3237 !important;
  margin: 0 10px;
}

.sociallink {
  width: 30px;
  height: 30px;
}

@media only screen and (max-width: 600px) {
  .rights {
    flex-direction: column;
  }
  .socialicon {
    margin-right: 10px;
  }
  .socialicon {
    font-size: 12px !important;
  }
  .copy {
    font-size: 12px;
  }
  .sociallink {
    width: 20px;
    height: 20px;
  }
}
