@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");

@font-face {
  font-family: amazonbold;
  src: url(../../../public/Ember/AmazonEmber_Bd.ttf);
}
@font-face {
  font-family: amazonlight;
  src: url(../../../public/Ember/AmazonEmber_Lt.ttf);
}

@font-face {
  font-family: amazonheavy;
  src: url(../../../public/Ember/AmazonEmber_He.ttf);
}

.jslogo {
  width: 100px;
  height: 100px;
  /* margin: auto; */
}

.companylogo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.companydesc {
  font-size: 14px;
  font-family: amazonbold;
  color: #fff;
  text-align: center;
}

.producthead {
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #fff;
}

.linkcontent {
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #fff;
}

.copy {
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  color: #fff;
}

.justshopper {
  font-size: 16px;
  font-family: amazonbold;
  color: #aaaaaa;
}

.socialicon {
  color: #dc3237 !important;
  margin: 0 10px;
}

.sociallink {
  width: 30px;
  height: 30px;
}

.copy {
  flex-direction: column !important;
}

.way2thinklogo {
  width: 50px;
  height: 50px;
}

@media only screen and (max-width: 600px) {
  .companydesc {
    text-align: left;
  }
  .jslogo {
    margin-right: auto;
    margin-bottom: 20px;
  }
  .producthead {
    text-align: left;
  }
  .linkcontent {
    text-align: left;
  }
  .rights {
    flex-direction: column;
  }
  .socialicon {
    margin-right: 10px;
  }
  .socialicon {
    font-size: 12px !important;
  }
  .copy {
    font-size: 16px;
    padding: 5px 0;
  }
  .sociallink {
    width: 20px;
    height: 20px;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1023px) {
  .jslogo {
    margin: auto;
  }
  .copy {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

@media only screen and (min-device-width: 1024px) and (max-device-width: 1535px) {
  .jslogo {
    margin: auto;
  }
  .copy {
    display: flex;
    justify-content: end;
    align-items: end;
  }
}
