@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");

.welcome-container {
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

.helloshoppers {
  text-align: left;
  font-size: 40px;
  color: #dc3237;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.shop {
  text-align: left;
  font-size: 20px;
  color: #000;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.shopperpara {
  text-align: left;
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #000;
}

.welcome-container p {
  margin-bottom: 15px;
}

@media screen and (max-width: 768px) {
  .welcome-container {
    padding: 10px;
  }
  .helloshoppers {
    font-size: 24px;
  }
  .shop {
    font-size: 16px;
  }
  .shopperpara {
    font-size: 14px;
  }
}
