.shipping-container {
  margin: 0 auto;
  padding: 20px;
}

.shipping {
  text-align: left;
  font-size: 40px;
  color: #dc3237;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.ulshipping {
  text-align: justify;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #000;
  list-style-type: decimal;
}
.ulshipping li {
  margin-bottom: 10px;
}

.shipping-container ul {
  list-style: decimal;
  padding-left: 20px;
}

@media screen and (max-width: 768px) {
  .shipping-container {
    padding: 10px;
  }
  .shipping {
    font-size: 24px;
  }
  .ulshipping{
    font-size: 14px;
    text-align: left;
  }
}
